---
import Layout from "../layouts/Layout.astro";

const title = "Arthur Larkin";
const description = "";
---

<Layout title={title} description={description}>
  <section class="hero">
    <nav class="hero-links nav-links">
		<a href="https://github.com/arthu1rrr">Github</a>
 		<a href="https://twitter.com/arthu1rrr">Twitter</a>
  		<a href="https://instagram.com/arthu1rrr">Instagram</a>
 		<a href="https://linkedin.com/in/arthurlarkin">LinkedIn</a>
	</nav>
    <p class="lead">
      Arthur Larkin - Cambridge Computer Science - Independent Software Dev - Football Fanatic
    </p>
	<p class="sub">I love football, games, music (J Hus) and solving problems. I want to use my website to write about my interests and showcase projects which I found interesting, and I hope other people do too. I am a long-suffering Middlesbrough fan (despite being from Birmingham) so I am hoping to produce some projects and writing about MFC. </p>
	
  </section>
  <section class="grid">
    <article class="card tile">
      <h2>Latest writing</h2>
      <p>Short posts on analysis, modelling, and the craft of building.</p>
      <a class="btn" href="/blog">Go to blog →</a>
    </article>

    
  </section>

  <style>
    .hero{ padding: 10px 2px 22px; }
    .lead{ margin-top: 12px; font-size: var(--text-lg); max-width: 64ch; }
    .cta{ display:flex; flex-wrap:wrap; gap: 10px; margin-top: 18px; }
	.sub{ margin-top: 6px; color: var(--muted); font-size: var(--text-base);}
    .grid{
      margin-top: 18px;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
    }
    .tile{ padding: 16px; display:flex; flex-direction:column; gap: 10px; }
    .tile .btn{ align-self: flex-start; margin-top: 2px; }

    @media (max-width: 900px){
      .grid{ grid-template-columns: 1fr; }
    }
  </style>
</Layout>
